.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;

}
.burger__item{
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    position: relative;
}
.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
}
.burger__item:before {
    top: -8px;
}
.burger__item:after {
    bottom: -8px;
}
@media (max-width: 1300px) {
    .works__item {
        width: 50%;
    }
}
@media (max-width: 991px) {
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;

        background-color: #31344e;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }
    .nav.show {
        display: flex;
    }
    .nav__link{
        padding: 9px 15px;
    }
    .burger {
        display: block;
    }
    .intro__title {
        font-size: 40px;
    }

    .features__item {
        width: 50%;
    }

    .team__item {
        width: 50%;
        text-align: center;
    }
    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }
    .social {
        justify-content: center;
    }
    .reviews__photo {
        width: 100%;
    }
    .reviews__content {
        margin: 15px;
        width: 100%;
        padding-left: 0;
        padding-bottom: 15px;
    }
    .reviews__img {
        min-width: 991px;
        right: -15px;
    }
}
@media (max-width: 767px) {
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro__title {
        font-size: 30px;
    }
    .intro__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .features {
        margin: 40px 0;
    }


    .features__item {
        width: 100%;
        padding: 0;
    }

    .works__item {
        width: 100%;
        height: 300px;
    }
    .team__item {
        width: 100%;
        margin: 60px 0 30px;
        text-align: center;
    }

    .reviews__text {
        font-size: 25px;
    }


    .download {
        margin: 45px 0;
    }
    .download__title {
        font-size: 24px;
    }
    .btn--long {
        min-width: 260px;
    }

    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .footer__inner {
        padding: 30px;
    }
    .footer__block:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 414px) {
    .reviews__img {
        right: -100px;
    }
}