body {
    margin: 0;
    font-family: "Rage Italic", sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #ffff;
    -webkit-font-smoothing: antialiased ;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p{
    margin: 0 0 10px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header.fixed {
    height: auto;

    position: fixed;

    background-color: #31344e;
}
.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: ;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;

    align-items: center;
}
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}
.nav__link:first-child {
    margin-left: 0;
}
.nav__link:hover {
    opacity: 1;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background: #31344e url("img/intro-bg.jpg") center no-repeat;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
}
.intro__title {
    margin: 0 0 30px;
    font-family: Algerian, sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 700;
}
.intro__inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}
.intro__subtitle {
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}
.btn {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding:14px 40px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    transition: background .1s linear;
}
.btn--red {
    background-color: red;
}
.btn--red:hover {
    background-color: #e84545;
}
.btn--long {
    min-width: 280px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}
.features__item {
    width: 33.333%;
    padding: 0 40px;
    margin: 25px 0;

    text-align: center;
}
.features__icon {
    margin-bottom: 25px;


}
.features__title {
    font-size: 14px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

.works {
    display: flex;
    flex-wrap: wrap;
}
.works__item {
    width: 25%;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    overflow: hidden;
}
.works__item:hover .works__content {
    opacity: 1;
}
.works__img {
    min-width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}
.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(232, 69, 69, 0.9);

    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .2s;
}
.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.works__text {
    font-size: 14px;
    color: #fff;
}


.team {
    margin: 100px 0 70px;
}
.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom:20px;
}
.team__name {
    margin-bottom: 8px;
    font-size: 22px;
    color: black;
}
.team__prof {
    margin-bottom: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: red;
}
.team__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 20px;
}


.social {
    display: flex;
}
.social--footer {
    justify-content: center;

}
.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    border: 1px solid #e8ecee;
}

.reviews {
    overflow: hidden;
    background-color: #54454a;
}
.reviews__item {
    display: flex;
    flex-wrap: wrap;
}
.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews__img {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;

    transform: translateY(-50%);

}
.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}
.reviews__text {
    margin-bottom: 25px;
    color: white;
    font-family: 'Cambria', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
}
.reviews__author {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}


.download {
   text-align: center;
    margin: 90px 0;
}
.download__title {
    margin-bottom: 10px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}
.download__text {
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer {
    background-color: #3a3e64;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}
.footer__block {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}
.footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.footer__adress {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}
.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}
.copyright {
    padding: 20px 0;
    width: 100%;
    background-color: #313454;
}
.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

